.d-none{
    display: none;
}
.d-none1{
    display: none;
}
.d-none2{
    display: none;
}
.d-none3{
    display: none;
}
.d-none4{
    display: none;
}
.d-none5{
    display: none;
}
.d-none6{
    display: none;
}
.d-none7{
    display: none;
}
.d-none8{
    display: none;
}
.select-Location{
    padding-left: 47%;
    font-weight: 700;
}
#locationdown , #district ,#upzilla{
    height: 50px;
    width: 300pxpx;
    margin-left: 30%;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#district, #upzilla{
    position: relative;
    margin-top: -150px;
    margin-left: 20px;
}

